@import "reset";
html {
  background-color: #FAFAFA;
}

.profile {
  position: relative;
  height: 340px;
  width: 312px;
  background: linear-gradient(180deg, #1F1F1F 0%, #1F1F1F 37%, #fff 37%, #fff 100%);
  border-radius: 8px 8px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 20px 18px 0 18px;
  cursor: pointer;
  box-shadow: 5px -2px 15px 1px rgba(0, 0, 0, 0.5) inset;
  z-index: -1;
  overflow: hidden;
  &:active {
    box-shadow: 5px -2px 15px 4px rgba(0, 0, 0, 0.5) inset;
    transition: box-shadow 100ms;
  }
  &:hover .profile__photo {
    border-radius: 10% 10%;
    transition: border-radius 100ms;
  }
  &:active .profile__photo {
    width: 100px;
    margin-top: 78px;
    box-shadow: 3px 0 5px 1px rgba(0, 0, 0, 0.5);
    transition: box-shadow width margin-top 100ms;
  }
  &__photo {
    position: absolute;
    width: 102px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 76px auto;
    border-radius: 50% 50%;
    transition: border-radius 200ms;
    box-shadow: 5px -2px 7px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  &__description {
    width: 270px;
    margin: 0 auto;
  }
  &__text {
    color: #707070;
    height: 20px;
    text-align: center;
    margin-top: 195px;
    font-size: 15px;
    line-height: 17px;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    &-local {
      @extend .profile__text;
      margin-top: 10px;
      text-align: left;
      font-size: 13px;
    }
    &-birth {
      @extend .profile__text;
      margin-top: 15px;
      text-align: left;
      font-size: 13px;
    }
  }
  &-box {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 3% auto 60px auto;
    max-width: 1200px;
    align-content: center;
    justify-content: center;
    z-index: -1;
  }
}

.morebutton {
  height: 120px;
  width: 120px;
  border-radius: 50% 50%;
  background-color: #FAFAFA;
  margin: 50px 0;
  cursor: pointer;
  transition: box-shadow 50ms;
  &--active {
    box-shadow: 5px -1px 15px 2px #000;
    transition: box-shadow 250ms;
  }
  &:hover {
    box-shadow: 5px -1px 15px 2px #000;
    transition: box-shadow 250ms;
  }
  &-dammy {
    width: 100%;
  }
  &__text {
    text-align: center;
    font-size: 35px;
    line-height: 121px;
    color: #FAFAFA;
    text-shadow: 0 0 1px #1F1F1F;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: text-shadow 50ms;
    &:hover {
      text-shadow: 0 0 2px #1F1F1F;
      transition: text-shadow 200ms;
    }
    &:active {
      text-shadow: 0 0 4px #1F1F1F;
      transition: text-shadow 10ms;
    }
  }
  &:active {
    box-shadow: 1px -1px 4px 2px rgba(0, 0, 0, 0.5);
    transition: box-shadow 10ms;
  }
  &-right {
    margin-top: 80px;
    margin-left: 25px;
    width: 0;
    height: 0;
    border-radius: 5px 5px;
    border: 5px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #FAFAFA;
    z-index: -1;
    visibility: hidden;
    cursor: pointer;
    &--active {
      visibility: visible;
      transition: all 150ms;
      filter: drop-shadow(5px -1px 5px #000);
      &:active {
        filter: drop-shadow(1px -1px 5px #000);
        transition: filter 100ms;
      }
    }
  }
  &-left {
    margin-top: 80px;
    margin-right: 25px;
    width: 0;
    height: 0;
    border-radius: 5px 5px;
    border: 5px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 50px solid #FAFAFA;
    z-index: -1;
    visibility: hidden;
    cursor: pointer;
    &--active {
      visibility: visible;
      transition: all 150ms;
      filter: drop-shadow(5px -1px 5px #000);
      &:active {
        filter: drop-shadow(9px -1px 5px #000);
        transition: filter 100ms;
      }
    }
  }
}

.modal {
  position: relative;
  background: linear-gradient(180deg, #1F1F1F 0%, #1F1F1F 30%, #fff 30%, #fff 100%);
  border-radius: 15px 15px;
  width: 650px;
  height: 520px;
  overflow: hidden;
  z-index: -2;
  &:hover>.modal__text {
    color: #707070;
    text-shadow: none;
    transition: color text-shadow 150ms;
  }
  &:hover>.modal__watch {
    opacity: 1;
    transition: opacity 150ms;
  }
  &:hover>.modal__you {
    opacity: 1;
    transition: opacity 150ms;
  }
  &__photo {
    border-radius: 50px 50px;
    display: block;
    margin: 75px auto 0 auto;
    width: 160px;
    box-shadow: 5px -2px 7px 1px rgba(0, 0, 0, 0.5);
  }
  &__text {
    display: block;
    margin: 0 auto;
    font-size: 15px;
    max-width: 450px;
    padding-top: 30px;
    text-align: center;
    color: #aaa;
    text-shadow: #1f1f1f 0 0 0, #1f1f1f 0 0 25px;
    transition: text-shadow 150ms;
    white-space: nowrap;
    @media screen and (min-width: 740px) {
      font-size: 20px;
    }
    &-name {
      color: #707070;
      margin-top: -20px;
      text-shadow: none;
      text-transform: capitalize;
      &:hover {
        text-shadow: none;
      }
    }
    &-phone {
      margin-top: 25px;
    }
    &-cell {
      margin-top: 15px;
    }
    &-email {
      margin-top: 15px;
      text-transform: capitalize;
    }
    &-username {
      margin-top: 15px;
    }
    &-password {
      margin-top: 15px;
    }
  }
  &__watch {
    position: absolute;
    color: #fff;
    font-size: 140px;
    margin: -455px 0 0 -35px;
    white-space: nowrap;
    z-index: -1;
    opacity: 0;
    transition: opacity 150ms;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    @media screen and (min-width: 740px) {
      margin: -465px 0 0 -35px;
    }
  }
  &__you {
    @extend .modal__watch;
    margin-top: -320.5px;
    color: #1f1f1f;
    @media screen and (min-width: 740px) {
      margin-top: -350.5px;
    }
    &::before {
      position: absolute;
      content: attr(data-text);
      height: 40%;
      color: #fff;
      overflow: hidden;
    }
  }
  &-box {
    visibility: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    opacity: 0;
    transition: opacity 200ms;
  }
  &-dammy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -3;
  }
}

.modal-is-active {
  visibility: visible;
  opacity: 1;
}

.loading-modal {
  animation: modal 500ms ease-in-out -2000ms infinite alternate;
  @keyframes modal {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.loading-more {
  animation: more 1200ms ease-in-out -650ms;
  @keyframes more {
    0% {
      margin-left: 400px;
    }
    100% {
      margin-left: -400px;
    }
  }
  &-photo {
    animation: morephoto 1200ms ease-in-out -650ms;
    @keyframes morephoto {
      0% {
        margin-left: 700px;
      }
      100% {
        margin-left: -400px;
      }
    }
  }
  &-done {
    animation: done 1000ms ease-in-out 0ms;
    @keyframes done {
      0% {
        margin-left: 1000px;
      }
      100% {
        margin-left: 20px;
      }
    }
    &-photo {
      animation: donephoto 1200ms ease-in-out 0ms;
      @keyframes donephoto {
        0% {
          margin-left: 1000px;
        }
        100% {
          margin-left: 105px;
        }
      }
    }
  } //  ここから反転アニメーション
  &-reverse {
    animation: remore 1200ms ease-in-out -650ms infinite;
    @keyframes remore {
      0% {
        margin-left: -400px;
      }
      100% {
        margin-left: 400px;
      }
    }
  }
  &-photo-reverse {
    animation: remorephoto 1200ms ease-in-out -650ms;
    @keyframes remorephoto {
      0% {
        margin-left: -700px;
      }
      100% {
        margin-left: -400px;
      }
    }
  }
  &-done-reverse {
    animation: redone 1000ms ease-in-out 0ms;
    @keyframes redone {
      0% {
        margin-left: -1000px;
      }
      100% {
        margin-left: 20px;
      }
    }
    &-photo {
      animation: redonephoto 1200ms ease-in-out 0ms;
      @keyframes redonephoto {
        0% {
          margin-left: -1000px;
        }
        100% {
          margin-left: 105px;
        }
      }
    }
  }
}
